---
export const prerender = false;
import Layout from "../../layouts/Layout.astro";
import CantidadSelector from "../../components/product/CantidadSelector.tsx";
import { AddToCartWrapper } from "../../components/product/AddToCartWrapper";
import { getCollection } from "astro:content";

const { id } = Astro.params;
const idNumber = parseInt(id!);

const product = (await getCollection("products")).find(
    (p) => p.data.id == idNumber,
);
---

<Layout>
    {
        product?.data && id ? (
            <div class="w-full flex items-center flex-col gap-10">
                <article class="w-full sm:w-3/4 flex gap-8">
                    <section class="flex-1/2 flex flex-col relative aspect-square">
                        <img
                            src={`/${product.data.image}`}
                            alt={product.data.image}
                            class="w-full aspect-square h-full absolute top-0 left-0"
                        />
                    </section>
                    <section class="flex-1/3 flex flex-col gap-2">
                        <h1 class="text-xl">{product.data.name}</h1>
                        <span>Cant. disponible: {product.data.stock}</span>
                        <h3 class="text-2xl">
                            ${product.data.price.toLocaleString("es-ES")}
                        </h3>
                        <AddToCartWrapper client:load product={product.data} />
                    </section>
                </article>
                <article class="w-full sm:w-3/4 flex flex-col">
                    <p>{product.data.description}</p>
                </article>
            </div>
        ) : (
            <div class="w-full flex justify-center items-center">
                Producto no encontrado
            </div>
        )
    }
</Layout>
